/* apply this to all */
* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* notice Field */
#notice {
    text-align: left;
    margin: 0;
    padding: 0;
}

/* form for adding new content */
#add_form {
    margin-bottom: 1em !important;
    width: 660px !important;
}

/* input fields */
input {
    padding: 8px !important;
}

/* background color */
body {
    align-content: center !important;
    width: 700px !important;
    background: #aaf8f8 !important;
    margin: 10px auto !important;
    padding: 5px auto !important;
}

button {
    text-align: center !important;
    height: auto !important;
    width: auto !important;
}

/* main table */
table {
    border-collapse: collapse !important;
    width: 660px !important;
    margin-top: 25px !important;
    padding: 0px !important;
}

/* table header */
th {
    background-color: #ffffff !important;
    border-top: 2px solid #000000 !important;
    border-bottom: 2px solid #000000 !important;
}

/* table header and data */
th, td {
    text-align: center !important;
    max-width: 300px !important;
    color: #000000 !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

/* alternate color of rows */
tr:nth-child(even) {
    background-color: #ffffff !important;
}

/* alternate color of rows */
tr:nth-child(odd) {
    background-color: #aaaaaa !important;
}


/* just because javascript doesn't allow text to directly copy to clipboard, 
   we have to create a textarea box with text we want to copy,
   the box is made ALMOST hidden */
.hiddenTextArea-class {
    bottom: 0;
    right: 0;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-shadow: none;
    background: none;
    /* font-size: 0; */
}

.outside {
    border:none !important;
    background: #aaf8f8 !important;
}

/* .beside-button {
    position: absolute !important;
    right: 20px;
} */

/* border under last row */
/* tr:last-child {
    border-bottom: 2px solid #000000;
} */
